*{
}
#trailer {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
#lobby {
    position: fixed;    
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    position: fixed;
    bottom:0;
    margin-left: 90%;
    color:red;
    display: none;
}
a {
    text-decoration:none;
    color:red;
    z-index: 10000000;
}

